 <!-- About Section -->
 
    <section class="success" id="about">
        <div class="container">
            <div class="my__photo">
                <img class="my__photo" src="img/profile-greener.png" alt="profile-pic">
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>About</h3>
                    <hr class="">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Welcome! My name is Andrew. I am a professional with experience in data analytics, customer relations, and instruction. 
                     I have a BSME in mechanical engineering with degree certificates in nuclear engineering and simulation in engineering design and I am an EIT.

                    </p>
                </div>
                <div class="col-lg-4">
                    <p> Some of my projects include creating a database with user notifications to mitigate food waste, designing a robotic limb for use in 
                     hazardous environments, and fabricating items that help at home.
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <br><br>
                    <a href="Andrew-Doyle-Resume.pdf" download>
                    <button class="btn"><i class="fa fa-download"></i> Resume</button>
                    </a>
                </div>
                <div class="col-lg-12 text-center">
                </div>
            </div>
        </div>
    </section>
