 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="my__photo">
                <img class="my__photo" src="img/profile-greener.png" alt="profile-pic">
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>About</h3>
                    <hr class="">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Welcome! My name is Andrew and I use SQL, spreadsheets and python make insights. 
                       I am an aspiring data analyst and I made this site to host a few of my projects.

                    </p>
                </div>
                <div class="col-lg-4">
                    <p>I have a bachelors degree in mechanical engineering and I am a registered EIT.
                       In addition, I have experience database design, quantitative data analysis, CAD, 3D printing, woodworking, 
                       and customer relations.
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <!-- About Section <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a> --> 
                </div>
                <div class="col-lg-12 text-center">
                    <!--
                    <h3>Resume</h3>
                    <a href="C:\Users\justa\Documents\portfolio\img\Andrew-Doyle-Resume.pdf" download>
                        This is my current resume.
                    </a>
                    -->
                </div>
            </div>
        </div>
    </section>
