<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!--
        <img class="top_image" src="img/profile-wider.png" alt="profile-pic" />
        -->
        <link rel="shortcut icon" type="image/png" href="img/portfolio/AD-favicon-square.png">
        
        <!--
          <head>
          <link rel="shortcut icon" type="image/png" href="favicon.png">
          </head>
        -->
        
        <img class="img-responsive" src="img/gifgit.gif" alt="profile-pic" />
        
        <div class="intro-text">
          <!--
          <span class="name">{{ site.title }}</span>
          -->
          <!--
          <hr class="" />
          -->
          <span class="skills">{{ site.skills }}</span>
        </div>
      </div>
    </div>
  </div>
</header>
